# Virtual Environment
venv/

# Dataset
dataset/

# Python Cache
__pycache__/
*.pyc

# Media uploads
media/

# Temporary files
temp_folder/

# VS Code
.vscode/

# Django static files
staticfiles/

# Environment variables
.env